<%- include('partials/header'); -%>
   <h1>Home</h1>
   <p><%=home_content%></p>
   <%scripts.forEach(function(element){%>
    <h1><%=element.head%></h1>
    <p><%=(element.content).substring(0,400)+"..."%><a href="/posts/<%=(element.head).toLowerCase()%>">[Read More]</a></p>
   <%})%>
   <br>
   <form action="compose" method="get">
     <button type="submit" class="btn btn-outline-secondary"><b>+</b> Create</button>
   </form>
  </div>
  <div class="home-footer-padding"></div>
    <div class="home-footer">
      <p>Made by Chandan Pathak</p>
    </div>
  </div>
</html>
